.container{
    width: 300px;
    height: 500px;
    margin: auto;
}

.titulo{
    background-color: deepskyblue;
    position: relative;
    margin: auto;
    width: 200px;
    border-color: black;
    border-radius: 20px;
    bottom: -40px;
}

h1{
    text-align: center;
    color: white;
}
.card{
    border-radius: 15px;
    border: 4px solid deepskyblue;
    
}

.detalles{
    background-color: deepskyblue;
    width: 250px;
    height: 110px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    padding-top: 2px;
}

ul{
    padding: 10px;
    margin-top: 10px;
}

li{
    color: white;
    list-style-type: none;
}


.figure{
    width: 200px;
    height: 200px;
    margin: auto;
}

img{
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}